
.main-body {
    width: calc(100vw - 260px);
    margin-left: 5px;

    div {
        margin-bottom: 15px;
    }
}

.modal-element{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;

}

.page-heading {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 5px !important;

    h1 {
        font-size: larger;
        font-weight: 700;
    }

    .bread-crumbs {
        margin-bottom: 0px;

        ol {
            margin: 0px;
        }
    }
}

.user-pan{
    width: 98%;
    padding: 0 5px;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 5px;
    margin: auto;


    .user-info{
        width:0px;
        background-color: white;
        height: fit-content;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 6px #d9d9d9;
        overflow: hidden;
        transition: all 250ms ease-in;
        .pad-header{
            width: 100%;
            height: 40px;
            padding:  0 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1{
                font-size: larger;
                padding: 5px;
            }
            span{
                width: 20px;
                height: 20px;
                background-color: grey;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                padding: 0px;
                margin: 0px;
                transition: all 100ms ease-in;
                transform: scale(0.8);
                &:hover{
                    cursor: pointer;
                    background-color: red;
                    transform: scale(1);
                }
            }
        }
        .user-info-body{
            .input-group{
                width: 90%;
                margin: auto;
                margin-bottom: 15px;
                display: flex;
                flex-direction: column;
                label{
                    font-size: 0.9em;
                    color: #0f6cee;
                    font-weight: bolder;
                }
                input,select{
                    height: 40px;
                    border-radius: 8px !important;
                    overflow: hidden;
                    border: 1px solid #b9b9b9;
                }
            }

            button{
                width: 200px;
                background-color: #0762bb;
                color: white;
                display: block;
                margin: auto;
                &:hover{
                    background-color: #054c93 !important;
                }
                &:active{
                    background-color: #2389ec !important;
                }
            }
        }
        .unselected-data{
            width: 70%;
            text-align: center;
            font-weight: bolder;
            margin:auto;
            padding: 20px 0px;
            color: #575757;
        }
    }
}

.table-bolder {
    width: 98%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 6px lightgrey;


    .table-header {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        border-bottom: 1px solid #e8e8e8;
        margin: 0px;

        h4 {
            font-size: 1.1em;
            font-weight: 600;
        }

        .table-pagination {
            height: 100%;
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px;

            * {
                border: none;
                margin: 0 2px;
                border-radius: 8px;

                .pagination {
                    li {
                        padding: 0px;
                        width: 25px;

                        a {
                            padding: 5px;
                            width: 25px;
                            text-align: center;
                        }
                    }
                }
            }

            .active-page {
                background-color: dodgerblue;
                color: white;
            }
        }
    }
}

.form-action-tab{
    margin: auto;
    width: 98%;
    height: 50px;
    background-color: white;
    .action-button-wrapper{
        width: fit-content;
        height: 100%;
        display: flex;
        align-items: center;

        button{
            height: 35px;
            padding: 0px 5px !important;
            background-color: dodgerblue;
            color: white;
            margin: 0px 5px;
        }
    }
}

.table {
    font-size: 0.9em;
    margin-bottom: 0px;

    thead {
        tr {
            background-color: #e8e8e8;
            border-bottom: 1px solid #e8e8e8;

            th {
                font-weight: bolder;
                border: none;
                font-size: 0.95em;
            }
            th:last-of-type{
                width: 150px;
                text-align: center;
            }
        }
    }

    tbody {
        color: #494949;
        tr{
            cursor: pointer;
            border-bottom: 1px solid #e8e8e8;
            th{
                line-height: 30px;
                border-bottom: none;
            }
            td{
                line-height: 30px;
                height: 30px;
                border-bottom: none;
                vertical-align: center;
            }

            &:hover{
                color: white;
                background-color: #a0caf3;
            }

        }
    }
}
